*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#0d0d0d;
    color:#fff;
}

header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.8);
    padding:15px 8%;
    z-index:1000;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#FFD700;
    font-size:28px;
    text-decoration:none;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:20px;
}

.nav-links a{
    color:#fff;
    text-decoration:none;
}

.hero{
    height:100vh;
    background:url("../images/factory.jpg") center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
}

.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.65);
}

.hero-content{
    position:relative;
    z-index:2;
}

.hero h1{
    font-size:60px;
    color:#FFD700;
}

.hero p{
    font-size:20px;
    margin-top:20px;
}

.btn{
    display:inline-block;
    margin-top:30px;
    padding:15px 35px;
    background:#FFD700;
    color:#000;
    text-decoration:none;
    border-radius:40px;
    font-weight:bold;
}
